@charset "utf-8";

.ibanner{}
.ibanner .single-item{ background:url(/images/loding.gif) no-repeat center center;}
.ibanner .wp{ z-index:8;}
.ibanner .slick-dots{ position:absolute; left:50%; bottom:30px; z-index:8; margin-left:-43px;}
.ibanner .slick-dots li{ float:left; margin:0 5px;}
.ibanner .slick-dots li button{ float:left; width:47px; height:47px; padding:0px; border:none; cursor:pointer; box-sizing:border-box; text-indent:-9999px; overflow:hidden; background:url(/images/banner_page.png) no-repeat -47px 0;}
.ibanner .slick-dots li.slick-active button{ width:47px; background-position:0 0;}
.ibanner .slick-slide{}
.ibanner .slick-slide img{ width:100%; height:auto;}
.ibanner .slick-slide a{ display:block;}
.ibanner .slick-arrow{width:71px; height:139px; border:none; padding:0px; cursor:pointer; display:block; position:absolute;top:50%; margin-top:-70px;background:url(/images/banner_nav.png) no-repeat; z-index:8;}
.ibanner .slick-prev{left:0px; background-position:-71px -140px;}
.ibanner .slick-next{right:0px; background-position:0 -140px;}
.ibanner .slick-slider .slick-prev:hover{ background-position:-71px 0px;}
.ibanner .slick-slider .slick-next:hover{ background-position:0 0px;}

@media screen and (max-width:768px){
.ibanner .slick-arrow{-webkit-transform:scale(0.5);transform:scale(0.5); *zoom:0.5;zoom:0.5 \9;-webkit-transform-origin:left center;transform-origin:left center;}
.ibanner .slick-next{-webkit-transform-origin:right center;transform-origin:right center;}
.ibanner .slick-dots{-webkit-transform:scale(0.5);transform:scale(0.5); *zoom:0.5;zoom:0.5 \9;-webkit-transform-origin:center bottom;transform-origin:center bottom; bottom:20px;}
}
@media screen and (max-width:640px){
.ibanner .slick-slide img{ width:130%; margin-left:-15%;}
.ibanner .slick-dots{ bottom:10px;}
}